.countryContent h2 {
    text-align: left;
    margin: 1.5em 0 1em 0;
}
.countryContent input {
    color: black;
    padding: 1vh 2vw;
}
.countryContent h2 input {
    float: right;
    font-size: 0.6em;
}