/* Search bar */
.homeContent #searchReset, .homeContent #goBtn {
    padding: 0.5% 0;
    width: 5%;
    font-size: 1.2em;
    border: transparent;
    background-color: transparent;
}
.homeContent #searchReset:hover, .homeContent #goBtn:hover {
    cursor: pointer;
    font-weight: bold;
}

.homeContent #searchInput {
    text-align: center;
    padding: 0.5% 0;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: 50vw;
    font-size: 1.5em;
    border: transparent;
    outline: transparent;
    background-color: transparent;
}

.homeContent #searchBar {
    display: flex;
    padding: 0%;
    width: fit-content;
    border: 1px solid black;
    border-radius: 1.5vw;
    background-color: #162238;
    margin: auto;
    opacity: 80%;
}
.homeContent #searchBar * {
    color: white;
}
.homeContent #widthFix {
    width: 1em;
    opacity: 0%;
}

/* Content */
.homeContent {
    color: black;
}

.homeContent #centre {
    position: absolute;
    top: 48%;
    left: 20%;
    right: 20%;
}
.homeContent #centre > p {
    text-align: center;
    font-size: 1.2em;
    color: black;
}

.homeContent #intro {
    position: absolute;
    top: 20%;
    left: 15%;
    right: 15%;
}
.homeContent #intro h1 {
    width: 65%;
}
.homeContent #intro p {
    float: right;
    width: 75%;
    text-align: right;
}